<div class="content">
  <dev class="gone"><%= title %></dev>
  <ul class="sample1">
    <% Category.order(:id).each do |category| %>
      <li>
        <dev class="category"><%= category.label %></dev>
        <ul>
          <% places.each do |place| %>
            <% if place.category == category %>
              <li><%= link_to place.name, prefecture_place_path(prefecture, place) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
