<h1 class="title">記録の編集</h1>

<%= render 'form', url: prefecture_place_memory_path(@place.prefecture, @place, @memory) %>

<div class="pt-3">
  <%= link_to '戻る', prefecture_place_memory_path(@prefecture, @place, @memory), class: 'button is-info is-light' %>
</div>
