<h1 class="title">記録の編集</h1>

<%= render 'form', url: prefecture_place_memory_path(@place.prefecture, @place, @memory) %>

<%= link_to '戻る', prefecture_places_path(@prefecture), class: 'button is-info is-light' %>
