<h1 class="title">記録の作成</h1>

<%= render 'form', url: prefecture_place_memories_path(@place.prefecture, @place) %>

<div class="pt-3">
  <%= link_to '戻る', prefecture_place_path(@prefecture, @place), class: 'button is-info is-light' %>
</div>
