<%= link_to 'welcome!', prefectures_path, class: "button is-large is-fullwidth is-rounded is-info" %>
<div class="has-text-right">
<%= link_to 'admin', prefectures_path, class: "button is-small admin" %>
</div>
