<h1 class="title"><%= "#{@schedule.name}の編集" %></h1>

<%= render 'form', is_start_at: true %>

<div class="py-3">
  <%= link_to '戻る', plan_schedule_path(@plan, @schedule), class: 'button is-info is-light' %>
</div>
