<h1 class="title">Trip_logs</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @prefectures.each do |prefecture| %>
      <tr>
        <td><%= link_to prefecture.name, prefecture_places_path(prefecture), class:"button is-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
