
.average-score {
  display: flex; //★と点数を横並びにする
//justify-content: center;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 17px;

}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; // 指定幅からはみ出した部分を隠す。
  white-space: nowrap; // widthが足りない時に、折り返さないようにする。
color: #ffcc33;
  height: 25px;
}
.star-rating-back {
  color: #ccc;
}
