<h1 class="title">旅のプラン一覧</h1>

<div class="py-5">
  <%= render 'list', plans: @user_plans, title: '自分のプラン' %>
  <% if @other_plans.present? %>
    <div class="py-5">
      <hr>
    </div>
    <%= render 'list', plans: @other_plans, title: '他の人のプラン' %>
  <% end %>
</div>

<div class="py-3">
  <%= link_to 'プランの作成', new_plan_path, class: 'button is-success is-light' %>
  <div class="pt-3">
    <%= link_to '戻る', prefectures_path, class: 'button is-info is-light', data: {"turbolinks" => false} %>
  </div>
</div>
